/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    position:absolute;
    top:50%;
    left:50%;
    margin-top: -216px;
    margin-left: -216px;
}

td {
    width:144px;
    height:144px;
    border:3px solid black;
    -webkit-transition: all .5s ease;
    background:none;
    font-family: 'helvetica', arial, 'Sans Serif';
    font-size: 120px;
    font-weight:bold;
    vertical-align:middle;
    text-align:center;
}
td:hover {
    background: yellow;
}
#cell1{ border-width: 0 3px 3px 0; }
#cell2{ border-width: 0 3px 3px 3px; }
#cell3{ border-width: 0 0 3px 3px; }
#cell4{ border-width: 3px 3px 3px 0; }
#cell6{ border-width: 3px 0 3px 3px; }
#cell7{ border-width: 3px 3px 0 0; }
#cell8{ border-width: 3px 3px 0 3px; } 
#cell9{ border-width: 3px 0  0 3px; }
#gameOver {
position:fixed;
width:100%;
height:100%;
top:0;
bottom:0;
left:0;
bottom:0;
display:none;
font-size: 150px;
text-align:center;
vertical-align:middle;
font-weight:bold;
}
#gameOver p {
   display:block;
   width:100%;
   position:absolute;
   top:50%;
   margin-top:-75px;
   text-align:center;
}
.lose {
background-color: rgba(0,0,0,.8);
color: red;
font-family:'comic sans', courier, "Sans Serif";
}
.win {
background-color: rgba(0,0,0,.8);
color: white;
font-family:"helvetica Neue", helvetica, Arial, "Sans Serif";
}
.draw {
background-color: rgba(0,0,0,.8);
color: white;
font-family:"helvetica Neue", helvetica, Arial, "Sans Serif";
}

